
//css 전처리기
//반복문 조건문 if등 매개변수 계산식가능
//@mixin - 자주쓸거같고 반복될거같은것을 활용할것.
//@include - 매개변수 불러오기
//
// $color:green;

// @mixin test {
//     width: 100px;
//     height: 100px;
//     border: 1px solid $color;
// }
// @mixin clear {
//     &:after {
//         content: "";
//         display: block;
//         clear: both;
//     }
// }
//$color: red; //매개변수
//@mixin box ($w,$h) { width: $w;height: $h;}
//div { @include box(300px, 500px); border: 2px solid red} //수치는 꼭 넣을것
// p {@include border(pink);}
// span{@include border(rgb(49, 8, 8));}
// p { float: left;
//     @include test(); }

//선택자 정리하기
//들여쓰기
//상위참조속성
.a{ color: red; 
    ul{border: 3px solid green;
        > li {  
            background: pink;
            float: left;
            a{
                text-decoration: none;
                &:hover {color: goldenrod;}
                &.ddd { font-size: 40px; }
            }
            .ddd{ text-indent: 10px; font-weight: 700;}
            &:last-child{ border: 1px dotted yellow; }
        }
    }
}


