<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout/grid.css">
    <script src="https://kit.fontawesome.com/0da4b2ae63.js" crossorigin="anonymous"></script>
    <title>grid-layout01</title>
</head>
<body>
    <header></header>
    <section class="Wrapp_secs">
        <section class="cont-top">
            <h2>Contents style</h2>
            <div class="grid-container">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </section>
        <section class="cont-sec">
            <div class="grid-container">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </section>
    
        <section class="cont-third">
            <div class="grid-container">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </section>
    </section>
</body>
</html>