
// @mixin btn_radius($h, $radius:true) {
//     padding: 0 20px;
//     height: $h;
//     line-height: $h;
//     text-align: center;
//     background-color: green;

//     @if $radius {
//         border-radius: $h / 2; //높이의 반만큼만 넣어주는 값을 진행하라.
//     }@else{
//         border: 2px solid red
//     }
// }
// .btn{ @include btn_radius(30px, false);}

@mixin position($x, $y, $z) {
    position: absolute;
    left: $x;
    top: $y;
    z-index: $z;

    @if $x == 50% and $y == 50% {
        transform: translate(-50%, -50%); //정가운데 정렬의 경우
    }@else if $x == 50%{
        transform: translateX(-50%); //아니면 x만 가운데 있게 할지
    }@else if $y == 50%{
        transform: translateY(-50%); //아니면 y만 가운데 있게 할지
    }
}

div { width: 300px; height:300px; background: #000; 
    @include position(null,50%, 2 );
}
